@import '~@fluentui/react/dist/sass/References.scss';

.questions {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
  background-color: rgb(255 255 255 / 50%);
  border: 1px solid grey;
  border-radius: 25px;
  margin: 35px 10px 20px 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header {
  margin-bottom: 20px;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.image {
  width: 20px;
  padding-left: 15px;
  cursor: pointer;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background: #ffffff;
  text-decoration: none;
  color: "[theme:bodyText, default: #323130]";
  border-bottom: 1px solid #e6e8ea;
  box-shadow: inset 0 1px 0 rgba(255,255,255,1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.question:first-of-type {
  border-radius: 7px 7px 0 0;
}

.question:last-of-type {
  border-radius: 0 0 7px 7px;
}

.question:hover {
  background: "[theme: themeSecondary, default: #c4efef]";
}

.questionItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questionInfo {
  display: flex;
  flex-direction: column;
  width: 80%;
  cursor: pointer;
}

.questionTitle {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
}

.questionTitle div:nth-child(1) {
  width: 100%;
}

.close {
  float: right;
}

.saveButton {
  margin-top: 20px;
  float: left;
}

.statusImage {
  width: 30px;
  padding-left: 15px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.view label, .view span, .view input, .view textarea {
  color: rgb(97, 97, 97)!important;
}